html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.button {
    background-color: lightgrey;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
